  body {
        font-family: Arial, sans-serif;
        display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
		  margin: 0px;
      }
    :root{
      --main-bg: linear-gradient(90deg, #0152A1 0%, #B3B3FF 100%);
}

.main-bg {
  background: var(--main-bg) !important;
}
/* Make the input fields responsive */
.form-control {
  width: 100%;
}
input:focus, button:focus {
  border: 1px solid lightblue !important;
  box-shadow: none !important;
}

.form-check-input:checked {
  background-color: var(--main-bg) !important;
  border-color: var(--main-bg) !important;
}

.card, .btn, input{
  border-radius:30px !important;
}